/*------------------------------------*\
    #TABLES
\*------------------------------------*/

/**
 * Simple `table` styles.
 */

// Predefine the variables below in order to alter specific features.
$inuit-table-padding:       quarter($inuit-base-spacing-unit) !default;

table {
    width: 100%;
}

    thead {
    }

    tfoot {
    }

    tbody {
    }

        tr {
        }

            th,
            td {
                padding: $inuit-table-padding;
            }
